.error-banner {
  background-color: #f8d7da;
  color: #721c24;
  padding: 16px;
  text-align: center;
  border-radius: 8px;
  margin: 20px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-banner p {
  margin: 0;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .error-banner {
    max-width: 750px;
    margin: 20px auto;
  }
}
